# Created by .ignore support plugin (hsz.mobi)
### VirtualEnv template
# Virtualenv
# http://iamzed.com/2009/05/07/a-primer-on-virtualenv/
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
.Python
[Bb]in
[Ii]nclude
[Ll]ib
[Ll]ib64
[Ll]ocal
[Ss]cripts
pyvenv.cfg
.venv
/venv
pip-selfcheck.json

# Ignore JetBrains IDE files
.idea

# Ignore env config
.env

# Logs
*.out*
